name: Node CI

on:
  workflow_call:
  # This gets run by on-merge-main.yml automatically
  # push:
  #   branches:
  #     - main
  #     - master
  #     - 'features/*'
  pull_request:
    branches:
      - main
      - master
      - 'features/*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: [ lts/-2, lts/-1, lts/*]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update npm to 8.x
        run: |
          npm i -g npm@8
      - name: npm install, build, and test
        run: |
          npm install
          npm run build
          npm run test
        env:
          CI: true
          NODE_ENV: test
